name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [ "${{ github.repository }}" = "eadf/hallr" ]; then
            echo 'matrix=["ubuntu-latest", "windows-latest", "macos-latest"]' >> $GITHUB_OUTPUT
          else
            echo 'matrix=["ubuntu-latest", "windows-latest"]' >> $GITHUB_OUTPUT
          fi

  test:
    needs: setup
    strategy:
      matrix:
        os: ${{ fromJSON(needs.setup.outputs.matrix) }}
        rust: [stable, nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy

      - name: Update Rust
        run: rustup update

      - name: Run Clippy
        run: cargo clippy-all

      - name: Run tests
        run: cargo test-all

      - name: Install cargo-deny
        run: cargo install cargo-deny

      - name: Run cargo-deny
        run: cargo deny-all

      - name: Run build script
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            python build_script.py
          else
            python3 build_script.py
          fi
        shell: bash

